POSTGRES_DB=medisalud
POSTGRES_USER=medisalud
POSTGRES_PASSWORD=medisalud_local
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=MediSalud_2025_Local!
RABBITMQ_USER=medisalud
RABBITMQ_PASSWORD=medisalud_local
VITE_API_URL=http://localhost:8080

